# clock 
set_io clk           94     #input

# uart
set_io uart_rx       55     #input
set_io uart_tx       56     #output

# real board leds
set_io leds[0]        1     #output
set_io leds[1]        2     #output
set_io leds[2]        3     #output
set_io leds[3]        4     #output

# real board buttons
set_io buttons[0]    31     #input
set_io buttons[1]    32     #input
set_io buttons[2]    33     #input
set_io buttons[3]    34     #input

#set_io leds[4]       7     #output
#set_io leds[5]       8     #output
#set_io leds[6]       9     #output
#set_io leds[7]      10     #output

#set_io buttons[4]    11     #input
#set_io buttons[5]    12     #input
#set_io buttons[6]    15     #input
#set_io buttons[7]    16     #input

# pmod0 (near arduino connector)
set_io pmod0[0]      11     #output
set_io pmod0[1]      12     #output
set_io pmod0[2]      15     #output
set_io pmod0[3]      16     #output
set_io pmod0[4]       7     #output
set_io pmod0[5]       8     #output
set_io pmod0[6]       9     #output
set_io pmod0[7]      10     #output


#pmod1
set_io pmod1[0]      24     #input
set_io pmod1[1]      23     #input
set_io pmod1[2]      22     #input
set_io pmod1[3]      21     #input
set_io pmod1[4]      20     #input
set_io pmod1[5]      19     #input
set_io pmod1[6]      18     #input
set_io pmod1[7]      17     #input



# arduino connector
set_io arduino[0]  107     #output
set_io arduino[1]  106     #output
set_io arduino[2]  105     #output
set_io arduino[3]  104     #output
set_io arduino[4]   99     #output
set_io arduino[5]   98     #output
set_io arduino[6]   97     #output
set_io arduino[7]   96     #output
set_io arduino[8]   95     #output
set_io arduino[9]   85     #output
set_io arduino[10]  84     #output
set_io arduino[11]  83     #output
set_io arduino[12]  82     #output
set_io arduino[13]  81     #output
set_io arduino[14]  80     #output
set_io arduino[15]  79     #output


set_io arduino[16] 122     #output
set_io arduino[17] 124     #output
set_io arduino[18] 125     #output
set_io arduino[19] 128     #output
set_io arduino[20] 129     #output
set_io arduino[21] 130     #output
set_io arduino[22] 134     #output
set_io arduino[23] 135     #output
set_io arduino[24] 136     #output
set_io arduino[25] 137     #output
set_io arduino[26] 138     #output
set_io arduino[27] 139     #output
set_io arduino[28] 141     #output
set_io arduino[29] 143     #output
set_io arduino[30] 142     #output
set_io arduino[31] 144     #output
